{
	"DestinationName": "com.sap.esri.token.authentication",
	"ServiceUrl": "/destinations/mobileservices",
	"OfflineEnabled": false,
	"SourceType": "Mobile"
}